!!! 5
html(lang="en")
  head
    title multimap
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    script(type: "text/javascript", src: "/js/jquery-1.4.2.min.js")
    script(type: "text/javascript", src: "/dnode.js")
    script(type: "text/javascript", src: "/js/multimap.js")
    script(type: "text/javascript", src: "http://maps.google.com/maps/api/js?sensor=false")
    link(type: "text/css", rel: "stylesheet", href: "/css/multimap.css")
  body
    div#map
    div#header
      span#title multimap
      span - multi user mapping experience, if no one else is on, try having this page open in two browser windows side by side and at the same time, if it simply isn't working, then you're sol, this is just for fun and I haven't been able to think of any useful applications yet anyway (although if you do have any ideas, please do let me know)
    div#chat
      div#messages
      div#whoami
      input#say(type: "text")
    div#info
      div#stati
